@import url(css/editor.css); 	/* feuille de style pour l'éditeur */
/* old browser compatibility */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
/* GENERAL
-------------------------------------------------------- */
html, body, p, div, table, tr, td {margin: 0;padding: 0;}
html, body {
	color: #333;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,sans-serif; 
	font-size:13px;
	background: url(images/diamondplate.png) repeat white;
}
body {
	margin: 0 auto;
	padding: 15px 15px 50px 15px;
	background: #cde6ff;
	background: -webkit-linear-gradient(left, rgba(255,255,255,.2) 0%, rgba(205,230,255,.8) 8%, rgba(205,230,255,.8) 75%, rgba(255,255,255,.1) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,.2) 0%, rgba(205,230,255,.8) 8%, rgba(205,230,255,.8) 75%, rgba(255,255,255,.1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,.2) 0%, rgba(205,230,255,.8) 8%, rgba(205,230,255,.8) 75%, rgba(255,255,255,.1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,.2) 3%, rgba(183,219,255,.8) 8%, rgba(183,219,255,.6) 78%, rgba(255,255,255,.1) 100%);
	background: linear-gradient(left, rgba(255,255,255,.2) 3%, rgba(205,230,255,.8) 8%, rgba(205,230,255,.8) 78%, rgba(255,255,255,.1) 100%);
	border: 1px solid transparent;
}
p {margin-bottom: 15px;text-align: justify;}
h1 {font-size: 34px;}
a {color: #0066CC;text-decoration: none;}
a:hover {text-decoration: underline;}
.post a:visited {color: #7FB2E5;}
input[type="text"], input[type="url"], input[type="search"], input[type="email"], textarea {background-color: white !important;color: black !important;box-shadow: 1px 1px 2px silver;}
#form-commentaire input:focus {box-shadow: 1px 1px 5px silver;}
/* LAYOUT
-------------------------------------------------------- */
header,section,aside {margin-bottom: 1em;}
section#contenu {display: inline;float: left;width: 72.91666666666666%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
/*section#error {width:100%; margin-top: 2em;}*/
aside#sidebar {display: inline;float: left;width: 22.916666666666664%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
#main {max-width: 1000px;margin: 0 auto;margin-bottom: 15px;}
#top {
	padding: 10px 12px 40px 0;
	color: #7fbfff;
	background-color: #fff;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	box-shadow: 1px 1px 3px rgba(127, 127, 127, 1);
	margin-bottom: 10px;
	border-radius: 10px;
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
}
#top_text h1 {margin-left: 10%;text-shadow: 1px 1px 2px rgba(100, 100, 100, .4);letter-spacing: -1px;font-size: 30px;}
#top_text h2 {font-style: italic;margin-top: -1em;text-align: right;text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);}
#top_text h1 a {font-size: 36px;text-decoration: none;color: inherit;}
#wrapper {
	border-radius: 10px;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	box-shadow: 1px 1px 3px rgba(127,127,127,1);
	clear: both;
}
#contenu {padding: 10px 0 10px 0;}
#sidebar {padding: 10px 0 10px 0;color: #6B6B6B;border-radius: 0 10px 0 10px;}
/* inside POST
-------------------------------------------------------- */
header.titre {
	background : #f1f3f8;
	background: -webkit-linear-gradient(left, #fff 0%, #f1f3f8 2%, #f1f3f8 75%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, #fff 0%, #f1f3f8 2%, #f1f3f8 75%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, #fff 0%, #f1f3f8 2%, #f1f3f8 75%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, #fff 0%, #f1f3f8 2%, #f1f3f8 75%, rgba(255,255,255,0) 100%);
	background: linear-gradient(left, #fff 0%, #f1f3f8 2%, #f1f3f8 75%, rgba(255,255,255,0) 100%);
	text-shadow: 1px 1px 2px #fff;
	padding : 5px 20px 5px 15px;
	margin-bottom : 20px;
}
header.titre a {color: #7FBFFF;}
h3.date {color: #999;}
h2 {font-size: 17px;margin: 0;padding: 0;}
h3 {vertical-align: middle;margin-bottom: 0;}
#sidebar h3 {padding: 5px 0;}
h3 img {vertical-align: middle;}
/* POST BLOCS
-------------------------------------------------------- */
.news, .lien, .comment {
	margin: 0 0 30px 10px;
	padding: 0 10px 10px 10px;
	border: 0 solid silver;
	border-width: 0 0 1px 0;
	border-radius: 0 10px 10px 0;
	box-shadow: -4px 0 2px #D2E8FF, -2px 3px 2px #cde6ff;
}
.news pre, .comment pre, .lien pre {white-space: pre-wrap;}
#recherche h3 {background: url(images/search.png) 0 0 no-repeat;padding-left: 28px;}
#navigate h3 {background: url(images/calendar-day.png) 0 5px no-repeat;padding-left: 28px;}
#last_comments h3 {background: url(images/icon_comment.png) 0 6px no-repeat;padding-left: 22px;}
#tags h3 {background: url(images/icon_tag.png) 0 5px no-repeat;padding-left: 22px;}
#liens h3 {background: url(images/light-bulb.png) 0 5px no-repeat;padding-left: 22px;}
#rss h3 {background: url(images/feed.png) 0 6px no-repeat;padding-left: 22px;}
#random h3 {background: url(images/cup.png) 0 6px no-repeat;padding-left: 22px;}
#rss ul li {margin-left: 7px;list-style-image: url(images/feed.png);text-decoration: none;}
/* article de blog */
.news, .comment, .lien {word-wrap: break-word;overflow: show;}
.news h3, .lien h3 {font-size: 12px;}
.news img, .news iframe, .news video {padding: 4px;background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.2);border: solid 1px #bbb;max-width: 100%;}
.news figure {
	display:table;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	background: #f6f6f6;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius:5px;
		-webkit-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.05); 
		-moz-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	*zoom: 1;
}
.news figcaption {color: #333;}
.chapo {padding: 5px;}
.permalien {color: gray;font-size: 70%;text-align: right;}
h3.date {background: url(images/icon_date.png) 0 0 no-repeat;padding-left: 24px;}
p.tags  {background: url(images/icon_tag.png) 0 5px no-repeat;padding-left: 24px;}
p.rss {background: url(images/feed.png) 0 0 no-repeat;padding-left: 24px;}
a.commentlink {background: url(images/icon_comment.png) 0 0 no-repeat;padding-left: 24px; }
/* COMMENT BLOCS
-------------------------------------------------------- */
.comment {margin-bottom: 20px;padding-top: 25px;}
.comment h3 {font-size : 12px;margin-bottom: 15px;background: url(images/icon_comment.png) 0 0 no-repeat;padding-left: 24px;}
.gravatar-icon {height: 24px;width: 24px;vertical-align: middle;border-radius: 4px;display: inline-block;}
.comment h3 span {font-size: 11px;font-style: italic;font-weight: normal;}
.com-reply {text-align: right;}
.com-reply a {font-style: italic;padding: 0 4px 2px 4px;border: 1px solid silver;border-radius: 10px;box-shadow: 0 0 2px #fff, 1px 1px 2px #cde6ff;border-width: 1px 0 0 1px;color: inherit;}
#erreurs {background-color: rgba(255, 0, 0, .3);color: white;border-radius: 10px;padding: 1px;}
/* LINKS BLOCS
-------------------------------------------------------- */
.authorlink {background: url(images/icon_author.png) 0 0 no-repeat;padding-left: 24px; }
/* SEARCH FORM
-------------------------------------------------------- */
#search {text-align: right;margin-bottom: 20px;border: 1px solid gray;border-radius: 6px;box-shadow: 1px 1px 2px silver;background-color: white;width: 227px;}
#q {padding: 2px 0;box-shadow: none;border-radius: 6px;border-width: 0;text-align: left;width: 140px;}
#input-rechercher { /* submit*/
	padding: 2px 0;
	background: #f0f0f0;
	background: -webkit-linear-gradient(left, #fff 0%, #f0f0f0 10%);
	background: -moz-linear-gradient(left, #fff 0%, #f0f0f0 10%);
	background: -ms-linear-gradient(left, #fff 0%, #f0f0f0 10%);
	background: -o-linear-gradient(left, #fff 0%, #f0f0f0 10%);
	background: linear-gradient(left, #fff 0%, #f0f0f0 10%);
	border-radius: 0 6px 6px 0;
	border-width: 0;
	width: 80px;
}
/* CALENDAR
-------------------------------------------------------- */
#calendrier {display: block;border: none;}
#calendrier caption {color: #666;padding: 4px;}
#calendrier caption a {color: #06C;font-weight: bold;text-decoration: none;}
#calendrier td {color: #555;text-align: center;width: 80px;line-height: 2em;}
#calendrier td a {
	display: block;
	text-decoration: none;
	color: #111;
	border-radius: 5px;
	border: 0 solid #aecfff;
	border-width: 1px 0 0 1px;
	background: #fff;
	font-weight: bold;
}
#calendrier td a:hover {border-width: 0 1px 1px 0;color: #000;box-shadow: 1px 1px 2px #888;}
#calendrier td.active a {color:#fff;background: #3583e7;}

.encart_lastcom {list-style-type: none;}
/* FOOTER
-------------------------------------------------------- */
footer {
	margin-top: 10px;
	padding: 10px 10px 10px 5px;
	text-align: center;
	border-radius: 10px;
	background-color: #fff;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, #7fbfff 0.5%, #fff 2%, #fff 70%, #ebf6ff 100%);
	box-shadow: 1px 1px 3px rgba(127, 127, 127, 1);
}
footer a, footer a:visited { color: inherit; }
/* OTHERS
-------------------------------------------------------- */
blockquote, q {padding: 10px 20px 10px 30px;color: #555;font-style:italic;font-size: 12px;margin: 0 10px;border: #333 1px solid;}
code {
	display:block;
	width:95% !important;
	max-height: 300px !important;
	margin: 0 10px;
	background-color: #333;
	color:#f0f0f0;
	line-height:1.5em;
	padding-left:20px;
	overflow: scroll;
	border:1px solid #d0d0d0;
}
.tags {
	padding : 7px 10px 7px 20px;
	border-radius: 10px;
	background : #fff2c7;
	background: -webkit-linear-gradient(left, #fff 0%, #fff2c7 2%, #fff2c7 45%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, #fff 0%, #fff2c7 2%, #fff2c7 45%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, #fff 0%, #fff2c7 2%, #fff2c7 45%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, #fff 0%, #fff2c7 2%, #fff2c7 45%, rgba(255,255,255,0) 100%);
	background: linear-gradient(left, #fff 0%, #fff2c7 2%, #fff2c7 45%, rgba(255,255,255,0) 100%);
	margin-top: 10px;
/*	clear: both;*/ /* at bottom of article, must clear. */
}
.tags img {vertical-align: middle;}
.img {display: block;border-radius: 10px;margin: 0 auto;}
#sidebar hr {height: 10px;border: 0 solid silver;border-width: 0 0 1px 0;border-radius: 0 10px 10px 0;box-shadow: -4px 1px 2px #fff, -2px 3px 2px #cde6ff;}
#nombre_comment {font-weight: bold;font-size: 110%;}
.pagination a:visited {color: #0066CC;}
.pagination {text-align: center;padding-bottom: 30px;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
/*  to delete afterwards... */
.one { float: right; margin: 15px; }
#email-adress {display: none;}
/* Media queries */
@media only screen and (max-width: 1023px) {
	section#contenu, aside#sidebar {display: inline;float: left;width: 47.91666666666667%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
}
@media only screen and (max-width: 767px) {
	section#contenu, aside#sidebar {display: inline;float: left;width: 97.91666666666666%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
	footer {font-size: .8em;}
	#top nav {display:none;}
}